$pink: #c9346e;
$blue: #108ee9;
$gray: #ececec;
$red: #cf0000;

#main-wrapper {
  height: 100%;

  & > div {
    height: 100%;
  }

  .ant-layout {
    .ant-layout-footer {
      text-align: center;
      position: fixed;
      bottom: 0;
      width: calc(100% - 200px);
      background-color: $gray;
    }
    .ant-layout-content {
      padding-bottom: 100px !important;
      min-height: auto !important;
    }
  }
}

.ant-layout-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: $blue;
  }
}

.ant-layout-sider .logo {
  user-select: none;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  .logo_letter {
    display: none;
  }
}

.ant-layout-sider-collapsed .logo{
  .logo_name {
    display: none;
  }
  .logo_letter {
    display: block;
  }
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .menu_item-text   {
  display: none;
}

.my-details,
.add-photos,
.plans {
  width: 50%;
  margin: auto;

  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.my-details__form,
.add-photos__form,
.plans__form {
  .form__header {
    margin-bottom: 10px;
  }
  .form__body {
    margin-bottom: 15px;
  }
  .form-btn {
    width: 20%;
  }
}

.add-photos__form {
  .form__body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    .delete-photo {
      cursor: pointer;
      color: $red;
      &:hover {
        font-weight: 500;
      }
    }
    .plus {
      font-size: 50px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
    }
  }
}

.plans__form {
  .fields-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .field-block {
      width: 48%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      span {
        font-size: 12pt;
        font-weight: 500;
      }
    }
  }
  .delete-plan {
    cursor: pointer;
    color: $red;
    text-align: center;
    width: 100%;
    &:hover {
      font-weight: 500;
    }
  }
}

.plans {
  .add-plan-btn {
    cursor: pointer;
    color: $blue;
    text-align: center;
    width: 100%;
    &:hover {
      font-weight: 500;
    }
  }
}
