$pink: #c9346e;

#main-wrapper {
  height: 100%;

  & > div {
    height: 100%;
  }
}

.ant-layout-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: #108ee9;
  }
}

.ant-layout-sider .logo {
  user-select: none;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  .logo_letter {
    display: none;
  }
}

.ant-layout-sider-collapsed .logo{
  .logo_name {
    display: none;
  }
  .logo_letter {
    display: block;
  }
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .menu_item-text   {
  display: none;
}

.ant-badge {
  margin-top: 30px;
  .ant-badge-dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

.ant-card {
  margin-top: 10px;
}

.ant-select-show-search.ant-select-auto-complete.ant-select.ant-select-combobox.ant-select-enabled.ant-select-allow-clear {
  position: fixed;
  top: 17px;
  margin-left: 50px;
  width: 50%;
  outline: none;
  font-size: 16px;
  & input {
    font-size: 16px;
    border: none;
    box-shadow: none;
  }
}

.community_data {
  border-top: 1px solid #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  &:first-child,
  &:nth-child(2) {
    border-top: none;
    padding-top: 0;
    padding-bottom: 10px;
    .community_data-list {
      padding-top: 10px;
    }
  }
  .community_data-header {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .community_data-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .ant-badge {
      background: #e8e8e8;
      padding: 10px;
      border-radius: 10px;
      width: 140px;
      margin-right: 10px;
      sup {
        background-color: #588bff;
      }
      & > div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

form {
  width: 50%;
  margin: auto;

  .field_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    .field_block-variety {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
  }

  .buttons_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.my-details__form {
  .form__header {
    margin-bottom: 10px;
  }
  .form__body {
    margin-bottom: 15px;
  }
  .form-btn {
    .ant-btn-primary {
      background-color: $pink !important;
      border-color: $pink !important;
    }
    width: 20%;
  }
}
